@{
    ViewData["Title"] = "Contact List";
}
@model Bowler
 
<div class="text-center">
    <h1 class="display-4">Bowler Contact List</h1>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var b in ViewBag.bowlers)
        {
            <tr>
                <td>@b.BowlerFirstName</td>
                <td>@b.BowlerMiddleInit</td>
                <td>@b.BowlerLastName</td>
                <td>@b.BowlerAddress</td>
                <td>@b.BowlerCity</td>
                <td>@b.BowlerState</td>
                <td>@b.BowlerZip</td>
                <td>@b.BowlerPhoneNumber</td>
                <td><a class="btn btn-warning" asp-action="EditBowler" asp-route-id="@b.BowlerID">Edit</a></td>
                <td><a class="btn btn-danger" asp-action="DeleteBowler" asp-route-id="@b.BowlerID">Delete</a></td>
            </tr>
        }
        </tbody>
    </table>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <a class="btn btn-success text-right" asp-action="AddBowler">Add Bowler</a>
        </div>
    </div>  
</div>
